* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00b4d8;
    text-align: center;
}

#h11 {
    color: white;
    text-decoration-line: underline;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    /* border: none; */
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: rgb(255, 255, 255);
    background-color: skyblue;
}

#resetBtn {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
}

.player {
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: white;
    font-size: 5vmin;
}

#drawmsg {
    color: white;
    background-color: #00b4d8;
    font-size: 5vmin;
}

.msg-container {
    height: 20vmin;
    background-color: #00b4d8;
    color: #00b4d8;
}

.hide {
    display: none;
}

.hidden {
    display: none;
}


















